<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
		"classpath://org/hibernate/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>

		<!-- Specifying Session Context -->
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- SIT -->
		<property name="connection.url">jdbc:oracle:thin:@database-1.c5oxxlafwzsj.ap-southeast-1.rds.amazonaws.com:1521:ORCL</property>
		<property name="connection.username">kiemthe229</property>
		<property name="connection.password">123Katana</property>
		<property name="hibernate.show_sql">true</property>

		<!-- JDBC connection pool, use Hibernate internal connection pool -->
		<property name="validationQuery">select 1 from dual</property>
		<property name="testOnBorrow">true</property>
		<property name="minEvictableIdleTimeMillis">60000</property>
		<property name="connection.autocommit">false</property>
		<property name="connection.pool_size">100</property>
		<property name="cache.provider_class">org.cache.internal.NoCacheProvider</property>
		<property name="connection.release_mode">after_transaction</property>
		<property name="max_fetch_depth">2</property>
		<property name="jdbc.batch_size">100</property>
		<property name="show_sql">true</property>
		<property name="generate_statistics">true</property>

		<!-- Mapping with model class containing annotations -->
		<mapping class="sonhv.com.entity.UserEntity" />
		<mapping class="sonhv.com.entity.Book" />

		<!-- Mapping with resource query -->
		<!-- <mapping resource="hibernate/user.xml" /> -->

	</session-factory>
</hibernate-configuration>
